.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.head1{
    font-size: 75px;
}
.head2{
    font-size: 20px;
}

.goBackButton{
    float: right;
    padding: 10px;
}